article header h1 {
    font-size: 1.5em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

table, th, td, tr {
    border: 0px;
}
th {
    background-color: white;
}

input, textarea, select {
    border: 1px solid #eee;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: grid;
}

@media (max-width: 840px) {
    input, textarea, select {
        max-width: 250px;
    }
}

.node_ok {
    #color: green;
}
.node_err {
    color: red;
}
table.nodes {
    font-family: monospace;
    white-space: pre;
    font-size: 0.8em;
}
thead.nodes {
    font-weight: bold;
}
tr.nodes {
    border-bottom: solid 1pt #ccc;
}
