<p>This page lists all nodes in the NLNOG RING.</p>

<link href="https://cdn.datatables.net/v/bm/jq-3.7.0/dt-2.0.8/fh-4.0.1/rg-1.5.0/sp-2.3.1/datatables.min.css" rel="stylesheet">

<script src="https://cdn.datatables.net/v/bm/jq-3.7.0/dt-2.0.8/fh-4.0.1/rg-1.5.0/sp-2.3.1/datatables.min.js"></script>

<p><a href="https://map.ring.nlnog.net/">map.ring.nlnog.net</a> shows al NLNOG RING nodes on a map.</p>

<table id="nodetable" class="ui celled table nodes">
	<thead class=nodes>
		<tr class=nodes>
			<td class=nodes>node</td>
			<td class=nodes>participant</td>
            <td class=nodes>IP</td>
			<td class=nodes>location</td>
		</tr>
	</thead>
</table>
    <script>
    $(document).ready(function () {
    $('#nodetable').dataTable( {
        paging: false,
        ajax: {
           url: '/scripts/nodes.cgi',
               dataSrc: '',
            },
        fixedHeader: {
            header: true,
        },
            columns: [
            { data: 'hostname' },
            { data: 'participant' },
            { data: 'ip' },
            { data: 'location' },
            ],
        order: [
            [0, 'asc'],
            [1, 'asc']
        ]
    })
    });
    </script>
